# ISO-NE Web Services API (Five Minute System Load and Hourly Load Forecast)
# Sign up at: https://www.iso-ne.com/isoexpress/login (Create account)
# Then add your username and password below.
ISO_NE_USERNAME=YOUR_USERNAME
ISO_NE_PASSWORD=YOUR_PASSWORD
